{% extends "base.html" %}

{% block content %}
    <style>
        th, td {
            padding: 5px;
            text-align: left;
        }
        table, th, td {
            border: 1px solid;
        }
    </style>
    <h1>Hi, {{ current_user.username }}!</h1>
    <form method="post" action="/players">
        <input type="text" name="fName" placeholder="First Name" required/>
        <input type="text" name="lName" placeholder="Last Name" required/>
        <input type="number" name="year" placeholder="Year Played(Optional)"/>
        <input type="submit" value="Submit"/>
    </form>

    {% if person %}
        <h2>{{playerImage(person.playerID)}}</h2>
        <h2>{{person.nameFirst}} {{person.nameLast}}</h2>
        <h2>{{person.birthYear}} - {{person.deathYear if person.deathYear else 'Not dead yet :)'}}</h2>
    
    {% else %}
        <h2>No player</h2>
    {% endif %}

    {% if allFielding %}
    <table>
        <tr>
            <td>Team Name</td>
            <td>Year</td>
            <td>Position</td>
            <td>Fielding Time</td>
            <td>Offense Created</td>
        </tr>
        {% for row in allFielding %}
            <tr>
                <td>
                    {{getTeamName(row.teamID)}}
                </td>
                <td>
                    {{row.yearID}}
                </td>
                <td>
                    {{posName(row.position) if row.position}}
                </td>
                <td>
                    {{row.f_InnOuts if row.f_InnOuts else 'No Time Recorded'}}
                </td>
                <td>
                    {{runsCreated(row.playerID, row.yearID)}}
                </td>
            </tr>
        {% endfor %}

    </table>
    {% endif %}



{% endblock %}