{% extends "base.html" %}

{% block content %}
    <style>
        th, td {
            padding: 5px;
            text-align: left;
        }
        table, th, td {
            border: 1px solid;
        }
    </style>
    <form method="post" action="/">
        <select name="teamID" id="teamSelect">
            {% for each in teamPlayers %}
                <option value="{{each.teamID}}" {% if each.teamID == teamID %} selected {% endif %}>{{each.name}} | {{each.teamID}}</option>
            {% endfor %}
        </select>

        <select name="yearID" id="yearSelect">
            {% for each in teamYears %}
                <option value="{{each.yearID}}" {% if each.yearID == yearIDSet %} selected {% endif %}>{{each.yearID}}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Submit"/>
    </form>

    {% if allFielding %}
    <table>
        <tr>
            <td>Player Name</td>
            <td>Player Position</td>
            <td>Time Played</td>
        </tr>
        {% for row in allFielding %}
        <tr>
            <td>
                <a href= "{{url_for('player', urlPlayerID=row.playerID)}}">{{getName(row.playerID)}}</a>
            </td>
            <td>
                {{posName(row.position) if row.position}}
            </td>
            <td>
                {{row.f_InnOuts if row.f_InnOuts else 'No Time Recorded'}}
            </td>
        </tr>
        {% endfor %}

    </table>
    {% endif %}

    <script src="https://code.jquery.com/jquery-1.12.4.js" type="text/javascript"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {

        $('#teamSelect').change(function(){

          $.getJSON('/_update_dropdown', {
            selected_class: $('#teamSelect').val()

          }).success(function(data) {
                $('#yearSelect').html(data.html_string_selected);
           })
        });
      });
    </script>
{% endblock %}